<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Password Manager</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Password Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <h2>Login successful - here are your saved passwords</h2>

    <p>
        Welcome <span sec:authentication="principal.username">User</span>
    </p>
</div>
<style>
    .search_form {
        border-radius: 5px;
        border: solid 1px;
    }

    button {
        border-radius: 10px;
        border: solid 1px;
        transition: 200ms;
        margin: 3px;
    }

    button:hover {
        transform: translateY(-5px);
    }

    .table_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

</style>
<div class="row m-t-25">

    <div class="container">
        <div class="col-lg-9">
            <div class="table_header">
            <h2 class="title-1 m-b-25">Saved passwords</h2>
                <div class="search_password">
                    <form th:action="@{/search}" method="get">
                        <input type="text" name="keyword" th:value="${keyword}" size="50" >
                        <button>Search</button>
                    </form>
                </div>
                <a href="/password/add" target="_parent" method="get"><button>Dodaj</button></a>
            </div>
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                    <tr>

                        <th>DOMAIN</th>
                        <th>LOGIN</th>
                        <th>PASSWORD</th>
                        <th>LAST CHANGE</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="password: ${passwordsDto}">

                        <td th:text="${password.url}"></td>
                        <td th:text="${password.email}"></td>
                        <td th:text="${password.passwordHash}"></td>
                        <td th:text="${password.lastChange}"></td>
                        <td>
                            <form action="#" th:action="@{'/password/delete/{id}'(id=${password.id})}"
                                  th:object="${password}" th:method="delete">
                                <button>Delete</button>
                            </form>
                            <form action="#" th:action="@{'/password/update/{id}'(id=${password.id})}"
                                  th:object="${password}" th:method="post">
                                <button>Update</button>
                            </form>
<!--                            <a href="/password/update" target="_parent" method="get">-->
<!--                                <button>Update</button>-->
<!--                            </a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>